 <input type="checkbox">
 <h1>Todo <%=params[:id]%></h1>
     <h2><%=@todo.description%></h2>
        <h2><%=@todo.pomodoro_estimate%> pomodoros</h2>
      <div>  <a href= "/todo/edit/<%=@todo.id%>">Edit</a>
        <a href= "/todo/destroy/<%=@todo.id%>">delete</a>
        <a href= "/todo/index"> go back...</a>
        </div>
       
        